/* h2{
    color:red;
} */

/* *{
    margin:0;
    padding: 0;
} */
a:link{
    color:red;
}
a:visited{
    color:blue;
}
a:hover{
    color:yellowgreen;
}

a:active{
    color:purple;
}

/* 
#titleid{
color:pink;
}

.someclass{
    color:rgb(13, 23, 172)
} */

.borderCSS{
    width: 500px;
    height: 300px;
    background-color: magenta;
    /* border-width: 5px;
    border-color: black;
    border-style: dotted; */

    border: 5px dotted black;
    border-radius: 50px;
}

#fontstyling{
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

.backImg{
    width: 100%;
    height: 100vh;
    /* background-color: cyan; */
    background-image: url('kuchbhi3.png');
    /* background-repeat: no-repeat; */
    background-repeat: no-repeat;
    background-size: 25vh;
    background-size: 30% 40%;
    background-attachment: fixed;
}
.backImg{
    width: 100%;
    height: 100vh;
    /* background-color: cyan; */
    background-image: url('kuchbhi.png');
    /* background-repeat: no-repeat; */
    background-repeat: no-repeat;
    background-size: 25vh;
    background-size: 40% 40%;
    background-attachment: fixed;
}

.backImg{
    width: 100%;
    height: 100vh;
    /* background-color: cyan; */
    background-image: url('kuchbhi2.png');
    /* background-repeat: no-repeat; */
    background-repeat: no-repeat;
    background-size: 25vh;
    background-size: 30% 40%;
    background-attachment: fixed;
}

#textCSS{
    font-family: 'Ubuntu', sans-serif;
    color:purple;
    letter-spacing: 2px;
    word-spacing: 3px;
    direction: rtl;
    text-indent: 10px;
    text-align: center;
    text-transform: uppercase;
}


ul{
    list-style-type: circle;
}

ol{
    list-style-type: lower-roman;
}

.boxModel{
    width: 400px;
    height: 400px;
    background-color: brown;
    padding: 5px;
}

input{
    /* padding-left: 9px;
    padding-top: 8px; */
    /*       top right bottom left */
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    margin: 10px;

}

#overflow{
    width: 400px;
    height: 100px;
    border: 1px dotted rgb(201, 20, 50);
    overflow: scroll;
}


.mother{
    width: 600px;
    height:300px;
    background-color: pink;
    position:relative;
}


.child1{
    width: 100px;
    height: 60px;
    background-color: blueviolet;
    position: absolute;
    left:0;
}
.child2{
    width: 200px;
    height: 90px;
    background-color: green;
    position: absolute;
    right: 0;
}
.child3{
    width: 50px;
    height: 100px;
    background-color: orangered;
    position: absolute;
    bottom:0;
    right:0;
}
.child4{
    width: 80px;
    height: 140px;
    background-color:orchid;
    position: absolute;
    bottom:0;
} 



.dog{
    width: 600px;
    height:300px;
    background-color: rgb(24, 115, 219);
    position:relative;
}


.puppy1{
    width: 100px;
    height: 60px;
    background-color: pink;
    position: absolute;
}
.puppy2{
    width: 200px;
    height: 90px;
    background-color: green;
    position: absolute;
    z-index: 1;
}
.puppy3{
    width: 50px;
    height: 100px;
    background-color: orangered;
    position: absolute;
    z-index: 2;
}
.puppy4{
    width: 80px;
    height: 140px;
    background-color:orchid;
    position: absolute;
    z-index: 3;
}



.header{
    width:100%;
    height: 80px;
    background-color: black;
}

.logo{
    width:30%;
    line-height: 80px;
    text-align: left;
    background-color: yellowgreen;
    float: left;
}

.menu{
    width:70%;
    height: 80px;
    background-color: orchid;
    float: right;
}

.display{
    list-style: none;
    text-align: right;
    /* direction: rtl; */
}

#dis{
    /* display: block;
    border: 1px solid black; */
    display: inline-block;
    padding: 0 10px; 

}
